* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aqua;
}

main {
    margin: 0% 10% 0% 10%;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(149, 100, 100);
    color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1.2vw;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: white;
}

header {
    display: flex;
    justify-content: center;
}