/*toegevoegde font voor de website*/
@font-face {
    font-family: lilita;
    src: url(fonts/lilitaone-regular.ttf);
}

@font-face {
    font-family: beyondworth;
    src: url(fonts/beyondworth-regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

header {
    margin: 20px;
    align-items: center;
}

header img {
    width: 62px;
}

header h1 {
    font-size: 1.5em;
    font-family: beyondworth;
}

body {
    background-color: #F6EFDF;
}

main img {
    width: 100%;
    position: absolute;
    top: 50vw;
}

main i {
    border-radius: 20%;
    border: solid #904441;
    border-width: 0 4px 4px 0;
    padding: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: 162vw;
    left: 50%;
}

main p:first-child{
    margin: 0% 11% 0% 11%;
    font-size: 14px;
    font-family: lilita;
}

.home-blok {
    background-color: #612E2D;
    padding: 5%;
    border-radius: 6%;
    padding-top: 30%;
    margin-top: 102%;
    font-family: lilita;
    list-style-type: none;
}

.home-blok a {
    text-decoration: none;
}

.home-blok h2 {
    margin-bottom: 5%;
}

.home-blok li:nth-child(1) a {
    color: white;
}

.home-blok li:nth-child(1) {
    background-color: #2F556F;
    padding: 8%;
    color: white;
    border-radius: 6%;
}

.home-blok li:nth-child(2) a {
    color: black;
}

.home-blok li:nth-child(2) {
    background-color: #487288;
    padding: 8%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
    border-radius: 6%;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #904441;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1.2vw;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: white;
}