/*toegevoegde font voor de website*/
@font-face {
    font-family: lilita;
    src: url(fonts/lilitaone-regular.ttf);
}

@font-face {
    font-family: beyondworth;
    src: url(fonts/beyondworth-regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header h1 {
    color: white;
}

header img {
    width: 62px;
}

header h1 {
    font-size: 1.5em;
    font-family: beyondworth;
}

.home {
    background-color: #F6EFDF;
}

.home-header h1 {
    color: black;
}

.locatie-header {
    display: flex;
    flex-direction: row;
}

.locatie-header div input {
    margin-top: 20%;
    padding: 3%;
}

body {
    background-color: #612E2D;
}

main {
    background-color: #F6EFDF;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-family: lilita;
}

.home main img {
    width: 100%;
    position: absolute;
    top: 45vw;
}

/*locatie pagina*/

.locatie-text {
    display: flex;
    flex-direction: row;
}

.locatie-text img {
    height: 32px;
    width: auto;
    top: 32vw;
    margin-right: 3%;
}

.locatie-main {
    padding-bottom: 15%;
}

.locatie-text{
    padding: 10%;
    padding-bottom: 0%;
}

.locatie-text h2:first-of-type {
    font-size: 0.7em;
    padding-left: 4%;
}

.locatie-main section {
    border-radius: 10px;
    padding: 4%;
    margin: 10%;
}

.locatie-main a {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.locatie-main p {
    color: white;
    font-size: 0.6em;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
}

.locatie-main section:nth-child(even) {
    background-color: #2F556F;
}

.locatie-main section:nth-child(odd) {
    background-color: #487288;
}

section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locatie-foto {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px; 
}

.locatie-foto img {
    width: 38%; 
    padding: 5%;
    padding-bottom: 0%;
}

.locatie-naam img{
    max-height: 18px;
    left: 17%;
    margin-right: 5px;
}

.locatie-naam {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locatie-blaadjes img{
    position: absolute;
    max-width: 25%;
}

.locatie-blaadjes img:nth-child(1){
    top: 104vw;
}

.locatie-blaadjes img:nth-child(2){
    top: 45vw;
    right: 0;
}

.locatie-blaadjes img:nth-child(3){
    top: 170vw;
    right: 0;
}

.locatie-blaadjes img:nth-child(4){
    top: 215vw;
}

.locatie-blaadjes img:nth-child(5){
    top: 320vw;
    right: 0;
}

/*communicatie pagina*/
.communicatie-main {
    padding-bottom: 10%;
}

.communicatie-main h2 {
    padding: 10%;
    padding-top: 15%;
    padding-left: 12%;
    font-size: 1.2em;
}

.communicatie-main img:nth-child(2) {
    position: absolute;
    width: 40%;
    top: 31vw;
    margin-left: 50%;
}

.communicatie-main section p {
    margin: 4%;
    margin-left: 12%;
    font-size: 0.8em;
}

.communicatie-main section:first-of-type, 
.communicatie-main section:last-of-type{
    background-color: #487288;
    border-radius: 16px;
    padding: 5%;
    margin: 10%;
}

.communicatie-main section:nth-child(4), 
.communicatie-main section:nth-child(5) {
    border: 8px solid #2F556F;
    border-radius: 16px;
    margin: 8%;
    padding: 2%;
    margin-left: 25%;
    font-size: 0.7em;
}

.communicatie-blaadjes img{
    position: absolute;
    max-width: 25%;
}

.communicatie-blaadjes img:nth-child(1){
    top: 115vw;
}

.communicatie-blaadjes img:nth-child(2){
    top: 155vw;
    right: 0;
}


/* arrows */

main i{
    border-radius: 20%;
    border: solid #904441;
    border-width: 0 4px 4px 0;
    padding: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: 156vw;
    left: 179px;
}

.arrow-1 {
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg);
    position: absolute;
    top: 195vw;
    left: 80%;
}

.arrow-2 {
    border: solid black;
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg);
    position: absolute;
    top: 250vw;
    left: 80%;
}

main p:first-child{
    margin: 0% 11% 0% 11%;
    font-size: 14px;
    font-family: lilita;
}

/* home blokken */

.home-blok {
    background-color: #612E2D;
    padding: 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 30%;
    padding-bottom: 15%;
    margin-top: 102%;
    font-family: lilita;
    list-style-type: none;
}

.home-blok a {
    text-decoration: none;
}

.home-blok h2 {
    margin-bottom: 5%;
}

.home-blok li:nth-child(1) a {
    color: white;
}

.home-blok li:nth-child(1) {
    background-color: #2F556F;
    padding: 8%;
    color: white;
    border-radius: 10px;
    padding-right: 25%;
    font-size: 0.9em;
}

.home-blok li:nth-child(2) a {
    color: black;
}

.home-blok li:nth-child(2) {
    background-color: #487288;
    padding: 8%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
    border-radius: 10px;
    padding-right: 25%;
    font-size: 0.9em;
}

/* navigatie */

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #904441;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1%;
    padding-top: 2%;
    align-items: center;
}

nav img {
    width: 20%;
    padding-left: 40%;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav li:nth-child(even) {
    height: 30px;
    width: 5px;
    background-color: white;
    border-radius: 99px;
}